/ {
    our_driver0: our_driver {
        compatible = "our,driver";
        status = "okay";

    };

    aliases {
        // onboard led
        app-led = "/leds/led_2";    // by path
        // app-led = &green_led_2;     // by node
    };
};